<h1>Browse</h1>
<div id="browse-tabs" role="tabpanel">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation"><a href="#scores" aria-controls="scores" role="tab" data-toggle="tab">Scores</a></li>
        <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="scores">
            <div id="browse-scores"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
            <div id="browse-table"></div>
        </div>
    </div>

</div>